@mixin set-color($color, $bgColor) {
    color: $color;
    background-color: $bgColor;
}

h1{
    @include set-color(white, purple);
}
p{
    @include set-color(black, tomato);
}

@mixin button($width, $height, $color, $radius: 0) {
    width: $width * 1px;
    height: $height * 1px;
    background-color: $color;

    @if $radius != 0 {
        border-radius: $radius * 1%;
    }
}

.btn {
    @include button(200, 50, teal)
}

.btnCircle {
    @include button(400, 400, pink, 50)
}

@mixin hover {
    &:hover {
        font-size: 48px;
        @content;
    }
}

.Hover {
    @include hover {
        border: 1px solid orange;
    }
}

%border {
    border: 1px solid;
    font-weight: bold;
}

.border-confirm {
    @extend %border;
    border-color: gray;
}

.border-error {
    @extend %border;
    border-color: tomato;
}